$artrogenos-font-family: "artrogenos" !default;
$artrogenos-font-path: "../../fonts" !default;

$ar-ai: "\eb90";
$ar-database-11: "\eb91";
$ar-database1: "\eb92";
$ar-github-mono-1: "\eb93";
$ar-github-mono-2: "\eb94";
$ar-phone1: "\eb95";
$ar-python-mono: "\eb96";
$ar-tablet1: "\eb97";
$ar-touch-screen: "\eb98";
$ar-back1: "\eb99";
$ar-bar-chart1: "\eb9a";
$ar-settings1: "\eb9b";
$ar-line-chart: "\eb9c";
$ar-analysis: "\eb9d";
$ar-development: "\eb9e";
$ar-idea1: "\eb9f";
$ar-right-arrow1: "\eba0";
$ar-down-arrow1: "\eba1";
$ar-cancel-1: "\eba2";
$ar-add-1: "\e900";
$ar-add-2: "\e901";
$ar-add-3: "\e902";
$ar-add: "\e903";
$ar-agenda: "\e904";
$ar-alarm-1: "\e905";
$ar-alarm-clock-1: "\e906";
$ar-alarm-clock: "\e907";
$ar-alarm: "\e908";
$ar-albums: "\e909";
$ar-app: "\e90a";
$ar-archive-1: "\e90b";
$ar-archive-2: "\e90c";
$ar-archive-3: "\e90d";
$ar-archive: "\e90e";
$ar-attachment: "\e90f";
$ar-back: "\e910";
$ar-battery-1: "\e911";
$ar-battery-2: "\e912";
$ar-battery-3: "\e913";
$ar-battery-4: "\e914";
$ar-battery-5: "\e915";
$ar-battery-6: "\e916";
$ar-battery-7: "\e917";
$ar-battery-8: "\e918";
$ar-battery-9: "\e919";
$ar-battery: "\e91a";
$ar-binoculars: "\e91b";
$ar-blueprint: "\e91c";
$ar-bluetooth-1: "\e91d";
$ar-bluetooth: "\e91e";
$ar-bookmark-1: "\e91f";
$ar-bookmark: "\e920";
$ar-briefcase: "\e921";
$ar-broken-link: "\e922";
$ar-calculator-1: "\e923";
$ar-calculator: "\e924";
$ar-calendar-1: "\e925";
$ar-calendar-2: "\e926";
$ar-calendar-3: "\e927";
$ar-calendar-4: "\e928";
$ar-calendar-5: "\e929";
$ar-calendar-6: "\e92a";
$ar-calendar-7: "\e92b";
$ar-calendar: "\e92c";
$ar-checked-1: "\e92d";
$ar-checked: "\e92e";
$ar-clock-1: "\e92f";
$ar-clock: "\e930";
$ar-close: "\e931";
$ar-cloud-computing-1: "\e932";
$ar-cloud-computing-2: "\e933";
$ar-cloud-computing-3: "\e934";
$ar-cloud-computing-4: "\e935";
$ar-cloud-computing-5: "\e936";
$ar-cloud-computing: "\e937";
$ar-cloud: "\e938";
$ar-command: "\e939";
$ar-compact-disc-1: "\e93a";
$ar-compact-disc-2: "\e93b";
$ar-compact-disc: "\e93c";
$ar-compass: "\e93d";
$ar-compose: "\e93e";
$ar-controls-1: "\e93f";
$ar-controls-2: "\e940";
$ar-controls-3: "\e941";
$ar-controls-4: "\e942";
$ar-controls-5: "\e943";
$ar-controls-6: "\e944";
$ar-controls-7: "\e945";
$ar-controls-8: "\e946";
$ar-controls-9: "\e947";
$ar-controls: "\e948";
$ar-database-1: "\e949";
$ar-database-2: "\e94a";
$ar-database-3: "\e94b";
$ar-database: "\e94c";
$ar-diamond: "\e94d";
$ar-diploma: "\e94e";
$ar-dislike-1: "\e94f";
$ar-dislike: "\e950";
$ar-divide-1: "\e951";
$ar-divide: "\e952";
$ar-division: "\e953";
$ar-document: "\e954";
$ar-download: "\e955";
$ar-edit-1: "\e956";
$ar-edit: "\e957";
$ar-eject-1: "\e958";
$ar-eject: "\e959";
$ar-equal-1: "\e95a";
$ar-equal-2: "\e95b";
$ar-equal: "\e95c";
$ar-error: "\e95d";
$ar-exit-1: "\e95e";
$ar-exit-2: "\e95f";
$ar-exit: "\e960";
$ar-eyeglasses: "\e961";
$ar-fax: "\e962";
$ar-file-1: "\e963";
$ar-file-2: "\e964";
$ar-file: "\e965";
$ar-film: "\e966";
$ar-fingerprint: "\e967";
$ar-flag-1: "\e968";
$ar-flag-2: "\e969";
$ar-flag-3: "\e96a";
$ar-flag-4: "\e96b";
$ar-flag: "\e96c";
$ar-focus: "\e96d";
$ar-folder-1: "\e96e";
$ar-folder-2: "\e96f";
$ar-folder-3: "\e970";
$ar-folder-4: "\e971";
$ar-folder-5: "\e972";
$ar-folder-6: "\e973";
$ar-folder-7: "\e974";
$ar-folder-8: "\e975";
$ar-folder-9: "\e976";
$ar-folder-10: "\e977";
$ar-folder-11: "\e978";
$ar-folder-12: "\e979";
$ar-folder-13: "\e97a";
$ar-folder-14: "\e97b";
$ar-folder-15: "\e97c";
$ar-folder-16: "\e97d";
$ar-folder-17: "\e97e";
$ar-folder-18: "\e97f";
$ar-folder-19: "\e980";
$ar-folder: "\e981";
$ar-forbidden: "\e982";
$ar-funnel: "\e983";
$ar-garbage-1: "\e984";
$ar-garbage-2: "\e985";
$ar-garbage: "\e986";
$ar-gift: "\e987";
$ar-help: "\e988";
$ar-hide: "\e989";
$ar-hold: "\e98a";
$ar-home-1: "\e98b";
$ar-home-2: "\e98c";
$ar-home: "\e98d";
$ar-house: "\e98e";
$ar-id-card-1: "\e98f";
$ar-id-card-2: "\e990";
$ar-id-card-3: "\e991";
$ar-id-card-4: "\e992";
$ar-id-card-5: "\e993";
$ar-id-card: "\e994";
$ar-idea: "\e995";
$ar-incoming: "\e996";
$ar-infinity: "\e997";
$ar-info: "\e998";
$ar-internet: "\e999";
$ar-key: "\e99a";
$ar-layers-1: "\e99b";
$ar-layers: "\e99c";
$ar-list-1: "\e99d";
$ar-list: "\e99e";
$ar-login: "\e99f";
$ar-magic-wand: "\e9a0";
$ar-map-1: "\e9a1";
$ar-map-2: "\e9a2";
$ar-map-location: "\e9a3";
$ar-map: "\e9a4";
$ar-megaphone-1: "\e9a5";
$ar-megaphone: "\e9a6";
$ar-menu-1: "\e9a7";
$ar-menu-2: "\e9a8";
$ar-menu-3: "\e9a9";
$ar-menu-4: "\e9aa";
$ar-menu: "\e9ab";
$ar-minus-1: "\e9ac";
$ar-minus: "\e9ad";
$ar-more-1: "\e9ae";
$ar-more-2: "\e9af";
$ar-more: "\e9b0";
$ar-multiply-1: "\e9b1";
$ar-multiply: "\e9b2";
$ar-navigation-1: "\e9b3";
$ar-navigation: "\e9b4";
$ar-network: "\e9b5";
$ar-newspaper: "\e9b6";
$ar-next: "\e9b7";
$ar-note: "\e9b8";
$ar-notebook-1: "\e9b9";
$ar-notebook-2: "\e9ba";
$ar-notebook-3: "\e9bb";
$ar-notebook-4: "\e9bc";
$ar-notebook-5: "\e9bd";
$ar-notebook: "\e9be";
$ar-notepad-1: "\e9bf";
$ar-notepad-2: "\e9c0";
$ar-notepad: "\e9c1";
$ar-notification: "\e9c2";
$ar-paper-plane-1: "\e9c3";
$ar-paper-plane: "\e9c4";
$ar-pause-1: "\e9c5";
$ar-pause: "\e9c6";
$ar-percent-1: "\e9c7";
$ar-percent: "\e9c8";
$ar-perspective: "\e9c9";
$ar-photo-camera-1: "\e9ca";
$ar-photo-camera: "\e9cb";
$ar-photos: "\e9cc";
$ar-picture-1: "\e9cd";
$ar-picture-2: "\e9ce";
$ar-picture: "\e9cf";
$ar-pin: "\e9d0";
$ar-placeholder-1: "\e9d1";
$ar-placeholder-2: "\e9d2";
$ar-placeholder-3: "\e9d3";
$ar-placeholder: "\e9d4";
$ar-placeholders: "\e9d5";
$ar-plus: "\e9d6";
$ar-power: "\e9d7";
$ar-previous: "\e9d8";
$ar-price-tag: "\e9d9";
$ar-print: "\e9da";
$ar-push-pin: "\e9db";
$ar-radar: "\e9dc";
$ar-reading: "\e9dd";
$ar-record: "\e9de";
$ar-repeat-1: "\e9df";
$ar-repeat: "\e9e0";
$ar-restart: "\e9e1";
$ar-resume: "\e9e2";
$ar-route: "\e9e3";
$ar-save: "\e9e4";
$ar-search-1: "\e9e5";
$ar-search: "\e9e6";
$ar-send: "\e9e7";
$ar-server-1: "\e9e8";
$ar-server-2: "\e9e9";
$ar-server-3: "\e9ea";
$ar-server: "\e9eb";
$ar-settings-1: "\e9ec";
$ar-settings-2: "\e9ed";
$ar-settings-3: "\e9ee";
$ar-settings-4: "\e9ef";
$ar-settings-5: "\e9f0";
$ar-settings-6: "\e9f1";
$ar-settings-7: "\e9f2";
$ar-settings-8: "\e9f3";
$ar-settings-9: "\e9f4";
$ar-settings: "\e9f5";
$ar-share-1: "\e9f6";
$ar-share-2: "\e9f7";
$ar-share: "\e9f8";
$ar-shuffle-1: "\e9f9";
$ar-shuffle: "\e9fa";
$ar-shutdown: "\e9fb";
$ar-sign-1: "\e9fc";
$ar-sign: "\e9fd";
$ar-skip: "\e9fe";
$ar-smartphone-1: "\e9ff";
$ar-smartphone-2: "\ea00";
$ar-smartphone-3: "\ea01";
$ar-smartphone-4: "\ea02";
$ar-smartphone-5: "\ea03";
$ar-smartphone-6: "\ea04";
$ar-smartphone-7: "\ea05";
$ar-smartphone-8: "\ea06";
$ar-smartphone-9: "\ea07";
$ar-smartphone-10: "\ea08";
$ar-smartphone-11: "\ea09";
$ar-smartphone: "\ea0a";
$ar-speaker-1: "\ea0b";
$ar-speaker-2: "\ea0c";
$ar-star-1: "\ea0d";
$ar-star: "\ea0e";
$ar-stop-1: "\ea0f";
$ar-stop: "\ea10";
$ar-stopwatch-1: "\ea11";
$ar-stopwatch-2: "\ea12";
$ar-stopwatch-3: "\ea13";
$ar-stopwatch-4: "\ea14";
$ar-stopwatch: "\ea15";
$ar-street-1: "\ea16";
$ar-street: "\ea17";
$ar-substract-1: "\ea18";
$ar-substract: "\ea19";
$ar-success: "\ea1a";
$ar-switch-1: "\ea1b";
$ar-switch-2: "\ea1c";
$ar-switch-3: "\ea1d";
$ar-tabs-1: "\ea1e";
$ar-tabs: "\ea1f";
$ar-target: "\ea20";
$ar-television-1: "\ea21";
$ar-television: "\ea22";
$ar-time: "\ea23";
$ar-trash: "\ea24";
$ar-umbrella: "\ea25";
$ar-unlink: "\ea26";
$ar-upload: "\ea27";
$ar-user-1: "\ea28";
$ar-user-2: "\ea29";
$ar-user-3: "\ea2a";
$ar-user-4: "\ea2b";
$ar-user-5: "\ea2c";
$ar-user-6: "\ea2d";
$ar-user-7: "\ea2e";
$ar-user: "\ea2f";
$ar-users-1: "\ea30";
$ar-users: "\ea31";
$ar-warning: "\ea32";
$ar-wifi-1: "\ea33";
$ar-wifi: "\ea34";
$ar-windows-1: "\ea35";
$ar-windows-2: "\ea36";
$ar-windows-3: "\ea37";
$ar-windows-4: "\ea38";
$ar-windows: "\ea39";
$ar-wireless-internet: "\ea3a";
$ar-worldwide-1: "\ea3b";
$ar-worldwide: "\ea3c";
$ar-zoom-in: "\ea3d";
$ar-zoom-out: "\ea3e";
$ar-add1: "\ea3f";
$ar-bar-chart: "\ea40";
$ar-cancel: "\ea41";
$ar-check-mark: "\ea42";
$ar-check: "\ea43";
$ar-checked1: "\ea44";
$ar-close1: "\ea45";
$ar-communication-1: "\ea46";
$ar-communication-2: "\ea47";
$ar-communication-3: "\ea48";
$ar-communication-4: "\ea49";
$ar-communication-5: "\ea4a";
$ar-communication-6: "\ea4b";
$ar-communication: "\ea4c";
$ar-cursor-1: "\ea4d";
$ar-cursor-2: "\ea4e";
$ar-cursor: "\ea4f";
$ar-delete: "\ea50";
$ar-dislike-11: "\ea51";
$ar-dislike1: "\ea52";
$ar-down-arrow: "\ea53";
$ar-download-1: "\ea54";
$ar-download-2: "\ea55";
$ar-download1: "\ea56";
$ar-edit1: "\ea57";
$ar-expand-1: "\ea58";
$ar-expand: "\ea59";
$ar-export: "\ea5a";
$ar-forbidden1: "\ea5b";
$ar-import-1: "\ea5c";
$ar-import-2: "\ea5d";
$ar-import: "\ea5e";
$ar-left-arrow-1: "\ea5f";
$ar-left-arrow: "\ea60";
$ar-letter: "\ea61";
$ar-levels-1: "\ea62";
$ar-levels: "\ea63";
$ar-like-1: "\ea64";
$ar-like: "\ea65";
$ar-list-11: "\ea66";
$ar-list-2: "\ea67";
$ar-list-3: "\ea68";
$ar-list-4: "\ea69";
$ar-list1: "\ea6a";
$ar-login1: "\ea6b";
$ar-logout: "\ea6c";
$ar-megaphone1: "\ea6d";
$ar-menu-11: "\ea6e";
$ar-menu-21: "\ea6f";
$ar-menu1: "\ea70";
$ar-microphone: "\ea71";
$ar-minimize-1: "\ea72";
$ar-minimize-2: "\ea73";
$ar-minimize-3: "\ea74";
$ar-minimize: "\ea75";
$ar-more-11: "\ea76";
$ar-more1: "\ea77";
$ar-move-1: "\ea78";
$ar-move: "\ea79";
$ar-mute: "\ea7a";
$ar-networking: "\ea7b";
$ar-next-1: "\ea7c";
$ar-next1: "\ea7d";
$ar-organization: "\ea7e";
$ar-orientation: "\ea7f";
$ar-paper-plane1: "\ea80";
$ar-password: "\ea81";
$ar-picture1: "\ea82";
$ar-pie-chart-1: "\ea83";
$ar-pie-chart-2: "\ea84";
$ar-pie-chart: "\ea85";
$ar-placeholder1: "\ea86";
$ar-plus1: "\ea87";
$ar-previous-1: "\ea88";
$ar-previous1: "\ea89";
$ar-repeat-11: "\ea8a";
$ar-repeat-2: "\ea8b";
$ar-repeat-3: "\ea8c";
$ar-repeat-4: "\ea8d";
$ar-repeat-5: "\ea8e";
$ar-repeat-6: "\ea8f";
$ar-repeat-7: "\ea90";
$ar-repeat-8: "\ea91";
$ar-repeat-9: "\ea92";
$ar-repeat1: "\ea93";
$ar-right-arrow-1: "\ea94";
$ar-right-arrow: "\ea95";
$ar-save1: "\ea96";
$ar-search1: "\ea97";
$ar-shuffle1: "\ea98";
$ar-smartphone-12: "\ea99";
$ar-smartphone1: "\ea9a";
$ar-sort-1: "\ea9b";
$ar-sort: "\ea9c";
$ar-speaker: "\ea9d";
$ar-speech-bubble-1: "\ea9e";
$ar-speech-bubble-2: "\ea9f";
$ar-speech-bubble-3: "\eaa0";
$ar-speech-bubble-4: "\eaa1";
$ar-speech-bubble-8: "\eaa2";
$ar-speech-bubble-9: "\eaa3";
$ar-speech-bubble-10: "\eaa4";
$ar-speech-bubble-11: "\eaa5";
$ar-speech-bubble-12: "\eaa6";
$ar-speech-bubble-17: "\eaa7";
$ar-speech-bubble-18: "\eaa8";
$ar-speech-bubble-19: "\eaa9";
$ar-speech-bubble-20: "\eaaa";
$ar-speech-bubble-21: "\eaab";
$ar-speech-bubble-22: "\eaac";
$ar-speech-bubble-24: "\eaad";
$ar-speech-bubble-25: "\eaae";
$ar-speech-bubble-26: "\eaaf";
$ar-speech-bubble-27: "\eab0";
$ar-speech-bubble-28: "\eab1";
$ar-speech-bubble: "\eab2";
$ar-star1: "\eab3";
$ar-stick-man-1: "\eab4";
$ar-stick-man-2: "\eab5";
$ar-stick-man-3: "\eab6";
$ar-stick-man-4: "\eab7";
$ar-stick-man: "\eab8";
$ar-sticker-1: "\eab9";
$ar-sticker-2: "\eaba";
$ar-sticker-3: "\eabb";
$ar-sticker-4: "\eabc";
$ar-tap: "\eabd";
$ar-telephone-1: "\eabe";
$ar-telephone-2: "\eabf";
$ar-telephone-3: "\eac0";
$ar-telephone-4: "\eac1";
$ar-telephone-5: "\eac2";
$ar-telephone-6: "\eac3";
$ar-telephone-7: "\eac4";
$ar-telephone-8: "\eac5";
$ar-telephone: "\eac6";
$ar-transfer-1: "\eac7";
$ar-transfer-2: "\eac8";
$ar-transfer-3: "\eac9";
$ar-transfer-4: "\eaca";
$ar-transfer-5: "\eacb";
$ar-transfer-6: "\eacc";
$ar-transfer-7: "\eacd";
$ar-transfer-8: "\eace";
$ar-transfer-9: "\eacf";
$ar-transfer-10: "\ead0";
$ar-transfer: "\ead1";
$ar-up-arrow: "\ead2";
$ar-upload-1: "\ead3";
$ar-upload-2: "\ead4";
$ar-upload1: "\ead5";
$ar-user-11: "\ead6";
$ar-user-21: "\ead7";
$ar-user1: "\ead8";
$ar-adobe: "\ead9";
$ar-adobeillustrator: "\eada";
$ar-adobephotoshop: "\eadb";
$ar-airbnb: "\eadc";
$ar-amazon: "\eadd";
$ar-amazonaws: "\eade";
$ar-android: "\eadf";
$ar-angular: "\eae0";
$ar-apache: "\eae1";
$ar-apple: "\eae2";
$ar-archlinux: "\eae3";
$ar-asana: "\eae4";
$ar-at-and-t: "\eae5";
$ar-atlassian: "\eae6";
$ar-atom: "\eae7";
$ar-auth0: "\eae8";
$ar-bit: "\eae9";
$ar-bitbucket: "\eaea";
$ar-bitcoin: "\eaeb";
$ar-blender: "\eaec";
$ar-blogger: "\eaed";
$ar-bootstrap: "\eaee";
$ar-bower: "\eaef";
$ar-buffer: "\eaf0";
$ar-cakephp: "\eaf1";
$ar-circleci: "\eaf2";
$ar-clojure: "\eaf3";
$ar-codeigniter: "\eaf4";
$ar-codepen: "\eaf5";
$ar-coffeescript: "\eaf6";
$ar-commonworkflowlanguage: "\eaf7";
$ar-cplusplus: "\eaf8";
$ar-css3: "\eaf9";
$ar-csswizardry: "\eafa";
$ar-d3-dot-js: "\eafb";
$ar-debian: "\eafc";
$ar-digitalocean: "\eafd";
$ar-discord: "\eafe";
$ar-django: "\eaff";
$ar-docker: "\eb00";
$ar-dot-net: "\eb01";
$ar-dropbox: "\eb02";
$ar-drupal: "\eb03";
$ar-eclipseide: "\eb04";
$ar-elastic: "\eb05";
$ar-elasticcloud: "\eb06";
$ar-elasticsearch: "\eb07";
$ar-elasticstack: "\eb08";
$ar-electron: "\eb09";
$ar-elementary: "\eb0a";
$ar-eslint: "\eb0b";
$ar-facebook: "\eb0c";
$ar-firebase: "\eb0d";
$ar-flask: "\eb0e";
$ar-flutter: "\eb0f";
$ar-freecodecamp: "\eb10";
$ar-git: "\eb11";
$ar-github: "\eb12";
$ar-gitlab: "\eb13";
$ar-glassdoor: "\eb14";
$ar-gmail: "\eb15";
$ar-gnu: "\eb16";
$ar-go: "\eb17";
$ar-google: "\eb18";
$ar-googleanalytics: "\eb19";
$ar-googlechrome: "\eb1a";
$ar-googlekeep: "\eb1b";
$ar-googleplay: "\eb1c";
$ar-googleplus: "\eb1d";
$ar-graphql: "\eb1e";
$ar-gulp: "\eb1f";
$ar-haskell: "\eb20";
$ar-heroku: "\eb21";
$ar-html5: "\eb22";
$ar-icloud: "\eb23";
$ar-inkscape: "\eb24";
$ar-instagram: "\eb25";
$ar-intel: "\eb26";
$ar-internetexplorer: "\eb27";
$ar-ionic: "\eb28";
$ar-java: "\eb29";
$ar-javascript: "\eb2a";
$ar-jenkins: "\eb2b";
$ar-jest: "\eb2c";
$ar-jira: "\eb2d";
$ar-jquery: "\eb2e";
$ar-jsfiddle: "\eb2f";
$ar-json: "\eb30";
$ar-kibana: "\eb31";
$ar-ko-fi: "\eb32";
$ar-kotlin: "\eb33";
$ar-laravel: "\eb34";
$ar-linkedin: "\eb35";
$ar-linux: "\eb36";
$ar-linuxfoundation: "\eb37";
$ar-logstash: "\eb38";
$ar-lua: "\eb39";
$ar-mailchimp: "\eb3a";
$ar-materialdesign: "\eb3b";
$ar-medium: "\eb3c";
$ar-meetup: "\eb3d";
$ar-messenger: "\eb3e";
$ar-microsoft: "\eb3f";
$ar-microsoftedge: "\eb40";
$ar-microsoftoutlook: "\eb41";
$ar-mongodb: "\eb42";
$ar-mozilla: "\eb43";
$ar-mozillafirefox: "\eb44";
$ar-mysql: "\eb45";
$ar-nativescript: "\eb46";
$ar-netflix: "\eb47";
$ar-nginx: "\eb48";
$ar-node-dot-js: "\eb49";
$ar-nodemon: "\eb4a";
$ar-npm: "\eb4b";
$ar-nuxt-dot-js: "\eb4c";
$ar-opera: "\eb4d";
$ar-php: "\eb4e";
$ar-pluralsight: "\eb4f";
$ar-podcasts: "\eb50";
$ar-postgresql: "\eb51";
$ar-postman: "\eb52";
$ar-powershell: "\eb53";
$ar-python: "\eb54";
$ar-r: "\eb55";
$ar-rails: "\eb56";
$ar-raspberrypi: "\eb57";
$ar-react: "\eb58";
$ar-readthedocs: "\eb59";
$ar-redis: "\eb5a";
$ar-redux: "\eb5b";
$ar-rollup-dot-js: "\eb5c";
$ar-roots: "\eb5d";
$ar-rss: "\eb5e";
$ar-ruby: "\eb5f";
$ar-rubygems: "\eb60";
$ar-safari: "\eb61";
$ar-salesforce: "\eb62";
$ar-sap: "\eb63";
$ar-sass: "\eb64";
$ar-scala: "\eb65";
$ar-sega: "\eb66";
$ar-skype: "\eb67";
$ar-slack: "\eb68";
$ar-soundcloud: "\eb69";
$ar-sourcegraph: "\eb6a";
$ar-sparkfun: "\eb6b";
$ar-sparkpost: "\eb6c";
$ar-spotify: "\eb6d";
$ar-sprint: "\eb6e";
$ar-stackexchange: "\eb6f";
$ar-stackoverflow: "\eb70";
$ar-statamic: "\eb71";
$ar-stylus: "\eb72";
$ar-sublimetext: "\eb73";
$ar-superuser: "\eb74";
$ar-swift: "\eb75";
$ar-symfony: "\eb76";
$ar-ted: "\eb77";
$ar-telegram: "\eb78";
$ar-tor: "\eb79";
$ar-travisci: "\eb7a";
$ar-trello: "\eb7b";
$ar-twilio: "\eb7c";
$ar-twitter: "\eb7d";
$ar-typescript: "\eb7e";
$ar-ubuntu: "\eb7f";
$ar-udacity: "\eb80";
$ar-udemy: "\eb81";
$ar-v8: "\eb82";
$ar-vagrant: "\eb83";
$ar-vim: "\eb84";
$ar-visualstudiocode: "\eb85";
$ar-vlcmediaplayer: "\eb86";
$ar-webcomponents-dot-org: "\eb87";
$ar-webpack: "\eb88";
$ar-whatsapp: "\eb89";
$ar-wikipedia: "\eb8a";
$ar-windows1: "\eb8b";
$ar-xcode: "\eb8c";
$ar-yammer: "\eb8d";
$ar-yarn: "\eb8e";
$ar-youtube: "\eb8f";
$ar-mobile: "\e000";
$ar-laptop: "\e001";
$ar-desktop: "\e002";
$ar-tablet: "\e003";
$ar-phone: "\e004";
$ar-document1: "\e005";
$ar-documents: "\e006";
$ar-search2: "\e007";
$ar-clipboard: "\e008";
$ar-newspaper1: "\e009";
$ar-notebook1: "\e00a";
$ar-book-open: "\e00b";
$ar-browser: "\e00c";
$ar-calendar1: "\e00d";
$ar-presentation: "\e00e";
$ar-picture2: "\e00f";
$ar-pictures: "\e010";
$ar-video: "\e011";
$ar-camera: "\e012";
$ar-printer: "\e013";
$ar-toolbox: "\e014";
$ar-briefcase1: "\e015";
$ar-wallet: "\e016";
$ar-gift1: "\e017";
$ar-bargraph: "\e018";
$ar-grid: "\e019";
$ar-expand1: "\e01a";
$ar-focus1: "\e01b";
$ar-edit2: "\e01c";
$ar-adjustments: "\e01d";
$ar-ribbon: "\e01e";
$ar-hourglass: "\e01f";
$ar-lock: "\e020";
$ar-megaphone2: "\e021";
$ar-shield: "\e022";
$ar-trophy: "\e023";
$ar-flag1: "\e024";
$ar-map1: "\e025";
$ar-puzzle: "\e026";
$ar-basket: "\e027";
$ar-envelope: "\e028";
$ar-streetsign: "\e029";
$ar-telescope: "\e02a";
$ar-gears: "\e02b";
$ar-key1: "\e02c";
$ar-paperclip: "\e02d";
$ar-attachment1: "\e02e";
$ar-pricetags: "\e02f";
$ar-lightbulb: "\e030";
$ar-layers1: "\e031";
$ar-pencil: "\e032";
$ar-tools: "\e033";
$ar-tools-2: "\e034";
$ar-scissors: "\e035";
$ar-paintbrush: "\e036";
$ar-magnifying-glass: "\e037";
$ar-circle-compass: "\e038";
$ar-linegraph: "\e039";
$ar-mic: "\e03a";
$ar-strategy: "\e03b";
$ar-beaker: "\e03c";
$ar-caution: "\e03d";
$ar-recycle: "\e03e";
$ar-anchor: "\e03f";
$ar-profile-male: "\e040";
$ar-profile-female: "\e041";
$ar-bike: "\e042";
$ar-wine: "\e043";
$ar-hotairballoon: "\e044";
$ar-globe: "\e045";
$ar-genius: "\e046";
$ar-map-pin: "\e047";
$ar-dial: "\e048";
$ar-chat: "\e049";
$ar-heart: "\e04a";
$ar-cloud1: "\e04b";
$ar-upload2: "\e04c";
$ar-download2: "\e04d";
$ar-target1: "\e04e";
$ar-hazardous: "\e04f";
$ar-piechart: "\e050";
$ar-speedometer: "\e051";
$ar-global: "\e052";
$ar-compass1: "\e053";
$ar-lifesaver: "\e054";
$ar-clock1: "\e055";
$ar-aperture: "\e056";
$ar-quote: "\e057";
$ar-scope: "\e058";
$ar-alarmclock: "\e059";
$ar-refresh: "\e05a";
$ar-happy: "\e05b";
$ar-sad: "\e05c";

